body {
    background-color: powderblue;
    font-family: 'Quicksand';
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.instructions {
    text-align: center;
    margin-top: 50px;
}

.invisible {
    display: none;
}

.next-button {
    background-color: grey;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Quicksand';
    height: 30px;
    width: 50px;
}

.next-button:hover {
    background-color: darkgrey;
}

.class-menu-button {
    background-color: grey;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Quicksand';
    height: 30px;
    margin-top: 10px;
    width: 150px;
}

.class-menu-button:hover {
    background-color: darkgrey;
}

.title {
    height: 20px;
    margin-top: 10px;
    text-align: center;
}

.hw-button {
    background-color: grey;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Quicksand';
    height: 30px;
    margin-top: 10px;
    width: 150px;
}

.hw-button:hover {
    background-color: darkgrey;
}

.prioritize-button {
    background-color: grey;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Quicksand';
    height: 30px;
    width: 75px;
}